h3{
    color: #009999;
    background-color: #cccccc;
    font-family: verdana;
    font-size: 16pt;
    
}
.bod{
    color: #009999;
    font-family: verdana;
    font-size: 16pt;
    font-weight: bold;
}
.a:link{
    color: #006666;
    background-color: #999999;
   
}
h2 {
    color: #009999;
    background-color: #cccccc;
    font-size: 16pt;
}

